#layout-footer{
    z-index:-1;
    position: relative;
    bottom:0px;
    color: white;
     width:100%; 
     background: linear-gradient(to right, rgb(38, 12, 187), rgb(2, 98, 224));
     display: flex;
    justify-content: flex-start;

    a{
        color: white;
        text-decoration: none;
    }

    .footer-nav{
        ul{
            list-style: none;
        }
    }
}