#home-container{
    display: flex;
    height:auto;
    h1{color:rgb(38, 78, 255);margin-left:2%;}
    #feed-posts{
        width: 100%;
        padding: 10px;
    }

    #user-friends{
        width: 30%;
        padding: 20px;
        border-left: 2px solid rgb(233, 233, 233);
        height: 80vh;
        margin: 2%;
        font-size: 1rem;
    }
    
    input[type=submit]{

        width:auto;
        height:50px;
        background-color: #FF3985;
        border:0px;
        border-radius:0px;
        color:white;
        font-size: 1rem;

    }

    #post-btn{width:90%;cursor: pointer;background-color: black;margin:1.5rem;
        margin-left:5%;}
    input[type=text]
    {
       padding:10px;
       height:50px;
       width:80%;
       margin-left:5%;
       border:1px solid rgb(175, 169, 169);
     
    }
    #posts-list-container{
        
        border-radius:20px 20px;
        width:100%;
        margin-top:2%;
        li{list-style-type: none;}
    }
    textarea{
        border-radius: 2px;
        border:2px solid white;
        padding:20px;
        font-size: 20px;
        outline: 0px;
        margin-left:2%;

    }
}