
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
	box-sizing: border-box;
}

body{
    margin: 0;
    /* text-align: center; */
    background-color: rgb(241, 241, 241);
   

    #layout-main{
        margin-top:5%;
        min-height:80vh;
    }
}