#layout-footer {
  z-index: -1;
  position: relative;
  bottom: 0px;
  color: white;
  width: 100%;
  background: linear-gradient(to right, #260cbb, #0262e0);
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
