@import url("https://fonts.googleapis.com/css?family=Ubuntu");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  /* text-align: center; */ }
  body #layout-main {
    margin-top: 5%;
    min-height: 80vh; }
